section.Canals
  .Canals-top
    img.Canals-logo(src="img/logo.png", alt="", width="100")
    p.Canals-text Navega por los canales del sitio y entérate de todo lo que estamos hablando. Conoce las propuestas de todos los temas que te interesan.
  .Canals-bottom
    ul.Canals-container
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
      li.Canals-option
        img.Canals-image(src="", alt="image")
