.Notices
  background-color #F0F1F1
  padding 1em

  &-container
    padding 0
    margin 0
    display flex
    flex-flow row wrap
    justify-content space-around
    transition transform .3s ease
    &.is-active
      transform translateY(70px)
  &-item
    display inline-block
    max-width 300px
    background white
    box-shadow 0 4px 4px rgba(black, .5)
    margin-bottom 1em
    position relative
    transition box-shadow .3s ease

    &:hover
      box-shadow 0 4px 12px rgba(black, .5)


  &-moreInfo
    position absolute
    top 0
    bottom 0
    left 0
    right 0

  &-imageContainer
    display block
    height 170px
    background-size cover
    background center center

  &-image
    width 100%
    height 170px

  &-description
    display block
    padding 1em

  &-title
    margin 0 0 1em 0
    text-align center
    font-size 1.5em

  &-type
    padding .5em
    text-transform uppercase
    background orange
    color white
    font-size .7em

  &-text
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  &-link
    display block
    text-align center
    padding .5em
    border 1px solid gray
    border-radius 5px
    color gray
    text-decoration none
    text-transform uppercase
    transition background .3s ease-out

    &:hover
      background gray
      color white
