section.Socials
  div.Socials-container
    ul.Socials-list
      li.Social--facebook 
        a.Social-link(href="https://www.facebook.com/partidomoda/")
        span.icon-facebook
        span.Social-label Síguenos en Facebook
      li.Social--twitter
        a.Social-link(href="https://twitter.com/partidomoda")
        span.icon-twitter
        span.Social-label Síguenos en Twitter
