section.Slide
  .u-container
    ul.rslides
      li
        img(src="img/partido-moda.jpg", alt="")
      li
        img(src="img/partido-moda.jpg", alt="")
      li    
        img(src="img/partido-moda.jpg", alt="")
