section.Slide
  .u-container
    ul.rslides
      li
        img(src="img/partido-moda2.png", alt="")
      li
        img(src="img/partido-moda2.png", alt="")
      li    
        img(src="img/partido-moda2.png", alt="")
