.MainSection
  background url("img/fondo.png") no-repeat 55%
  background-size cover

  &-image
    vertical-align middle

  &-title
    color white
    display inline-block
    font-family arial
    font-style italic
    font-weight bold
    font-size 1.8em
    margin-right 2em
    margin-left 7em
    text-transform uppercase
    vertical-align middle

@media only screen and (max-width: 700px)
  .MainSection
    &-image
      display none
    &-title
      visibility hidden
