.Footer
  background #163017
  padding 1em
  text-align center
  .MainMenu
    display inline-block

    &-container
      display inline-block
      text-align left
      vertical-align middle
    &-link
      border none
      padding .5em
      color white
  &-logo
    vertical-align middle
