.MainMenu
  text-align right
  padding 0 1em

  &-container
    padding 0
    margin 0

  &-option
    display inline-block

  &-link
    border-top 7px solid transparent
    padding 1em .3em
    display inline-block
    text-transform uppercase
    font-size .8em
    font-family arial
    font-weight bold
    text-decoration none
    color gray
    transition border .5s ease

    &:hover
      border-top 7px solid orange
