nav.MainMenu
  ul.MainMenu-container
    li.MainMenu-option
      a.MainMenu-link(href="/") Home
    li.MainMenu-option
      a.MainMenu-link(href="/historia-estatutos") Historia y Estatutos
    li.MainMenu-option
      a.MainMenu-link(href="/organigrama") Organigrama
    li.MainMenu-option
      a.MainMenu-link(href="/documentacion") Documentos
    li.MainMenu-option
      a.MainMenu-link(href="/casa-nacional") Casa Nacional
    li.MainMenu-option
      a.MainMenu-link(href="/unete") Únete
    li.MainMenu-option
      a.MainMenu-link(href="/multimedia") Multimedia
