@import "nib"
@import "header/index.styl"
@import "main-menu/index.styl"
@import "main-section/index.styl"
@import "slide/index.styl"
@import "canal/index.styl"
@import "notices/index.styl"
@import "footer/index.styl"
@import "util/index.styl"

body
  font-size 16px
  font-family arial
  margin 0
  overflow-x hidden
