doctype html
html(lang="es")
  head
    title Patido MODA
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet", href="index.css")
  body
    section.Landing
      include header/index.jade
      include main-section/index.jade
      include slide/index.jade
      include canal/index.jade
      include notices/index.jade
      include footer/index.jade
    script(src="index.js")
